/*FULL DOCUMENT*/
* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Roboto', 'Segoe UI';
    color: white;
    
}

/*HEADR SECTION*/
.header {
    background-color: #1F2937;
    height: 200px;
    width: auto;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
}

.left-nav {

}

.logo {

}

.right-nav {
    display: inline;

}

.nav-links {
    color: white;
    

}

ul {

}

li {
    list-style-type: none;
    display: inline;
    padding: 8px;
}

a {

}

.header-content-container {
    display: flex;
    justify-content: space-around;

}

.left-header-content {

}

.header-heading {
    color: white;
}

.header-text {
    color: white;
}

.header-button {
    color: white;
    background-color: #3882F6;
    border-width: 0px;
    /*border-color: #E5E7EB;*/
}

.right-header-content {

}

img {
    height: 100px;
    width: auto;
}

/*INFO SECTION*/
.info-container {
    height: 200px;
    width: auto;
}

/*QUOTE SECTION*/
.quote-container {
    background-color: #E5E7EB;
    height: 200px;
    width: auto;

}

/*CALL TO ACTION SECTION*/
.call-to-action-container {
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-bubble {
    background-color: #3882F6;
    height: 90px;
    width: 500px;

}

/*FOOTER SECTION*/
.footer {
    background-color: #1F2937;
    height: 56px;
    width: auto;
    display: flex;
    justify-content: center;
}

.copyright-text {
    color: white;
}