/*FULL DOCUMENT*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    max-height: fit-content;
}

.body {
    
    color: white;
    
}

/*HEADR SECTION*/
.header {
    background-color: #1F2937;
    height: 550px;
    width: auto;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
}

.left-nav {

}

.logo {
    color: white;

}

.right-nav {
    display: inline;

}

.nav-links {
    color: white;
    

}

ul {
    font-size: 25px;
    margin-right: 78px;

}

li {
    list-style-type: none;
    display: inline;
    padding: 8px;
}

a {

}

.header-content-container {
    display: flex;
    justify-content: space-around;
}

.left-header-content {
    margin: 60px;
    padding: 10px;
}

.header-heading {
    color: white;
    font-size: 60px;
}

.header-text {
    color: white;
    font-size: 22px;
}

.button {
    color: white;
    background-color: #3882F6;
    font-size: 22px;
    height: 50px;
    width: 160px;
    margin-top: 50px;
    border-radius: 5px;
    border-width: 0px;
    /*border-color: #E5E7EB;*/
}

.right-header-content {

}

img {
    height: 450px;
    width: auto;
    margin: 30px 90px;
    padding: auto;
}

/*INFO SECTION*/
.info-container {
    height: 500px;
    width: auto;
    display: flex;
    /*get all the content in the info container to be centered*/
    /*justify-content: space-between;*/
}

.info-header {
    margin: 20px;
    padding: auto;
}

.property-info-section {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: space-around;
}

.property-container-1 {

}

.property-container-2 {
    
}

.property-container-3 {
    
}

.property-container-4 {
    
}

/*QUOTE SECTION*/
.quote-container {
    background-color: #E5E7EB;
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 30px;
}

.quote-author {
    font-size: 20px;
}
/*CALL TO ACTION SECTION*/
.call-to-action-container {
    height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-bubble {
    background-color: #3882F6;
    height: 120px;
    width: 850px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.call-to-action-left {

}

.call-to-action-right {

}

.call-to-action-header {
    color: white;
    font-size: 30px;

}

.call-to-action-text {
    color: white;
    font-size: 20px;

}

.call-to-action-button {
    color: white;
    background-color: #3882F6;
    font-size: 22px;
    height: 50px;
    width: 160px;
    border-radius: 5px;
    border-color: #E5E7EB;
    border-width: 2px;
    border-color: white;
    margin: 0px;
    padding: 0px;
 
}


/*FOOTER SECTION*/
.footer {
    background-color: #1F2937;
    height: 56px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-text {
    color: white;
    font-size: 22px;
}