* {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
}
.header {
    background-color: #1F2937;
    height: 100px;
}

.body {
    height: 100px;
}

.quote {
    background-color: #e5e7eb;
    height: 100px;
}

.calltoaction {
    height: 100px;
}

.footer {
    background-color: #1f2937;
    color: white;
    height: 45px;
}

.footer-text {
    /*font-family:;*/
}