* {
    font-family: "Times New Roman", Times, serif;
    margin: auto;
    /*border: 2px solid red;*/
}
/*Put all the selectors in the correct order according to their
appearance in the HTML*/

/*HEADER*/
.header {
    background-color: #1F2937;
    /*change background to apartment 3*/
    height: 200px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0px;
}
.top-left {
    margin-left: 8px;
}
.top-right {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.header-bottom {
    display: flex;
}
.bottom-left {
    text-align: center;
}
.heading {
    color: white;
}
.sub-heading {
    color: white;
}
.bottom-right{

}



/*BODY*/
.body {
    height: auto;
    margin-bottom: 15px;
}
.body-heading {
    color: #1F2937;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.body-content-container {
    display: flex;
}
.body-content {

}
.body-image {
    border-radius: 10px;
}


/*QUOTE*/
.quote {
    background-color: #e5e7eb;
    height: 100px;
}
.quote-text {

}


/*CALLTOACTION*/
.calltoaction {
    height: 200px;
    align-items: center;
    display: flex;
}
.button-container {
    height: 100px;
    width: 500px;
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-container-left {

}
.button-heading {
    color: white;
}
.button-text {
    color: white;
}
.button-container-right {

}
.sign-up-button{
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 70px;
}
.sign-up-button1{
    background-color: #3882f6;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 70px;
}


/*FOOTER*/
.footer {
    background-color: #1f2937;
    color: white;
    height: 100px;
    display: flex;
    
    /*align-items: center;*/
}
.footer-text {
    text-align: center;
    /*font-family:;*/
}