* {
    font-family: "Times New Roman", Times, serif;
    margin: auto;
    /*border: 2px solid red;*/
}
.header {
    background-color: #1F2937;
    height: 200px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0px;
}

.header-bottom {
    display: flex;
}

.top-left {
    margin-left: 8px;
}

.top-right {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-right: 10px;
}

.body {
    height: 100px;
}

.body-content-container {
    display: flex;
}


.quote {
    background-color: #e5e7eb;
    height: 100px;
}

.calltoaction {
    height: 200px;
    align-items: center;
}

.button-container {
    height: 100px;
    width: 500px;
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.button-heading {
    color: white;
}

.button-text {
    color: white;
}

.sign-up-button{
    background-color: #3882f6;
    border-color: white;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 70px;
}

.sign-up-button1{
    background-color: #3882f6;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 70px;
}

.footer {
    background-color: #1f2937;
    color: white;
    height: 100px;
    
    /*align-items: center;*/
}

.footer-text {
    text-align: center;
    /*font-family:;*/
}